body {
    margin: 0;
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}

.username {
    color: #578a97;
    text-decoration: none;
}
.username:hover {
    color: #34555d;
}

.postedBy {
    font-weight: bold;
}



/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #bfd6dd;
}
nav a {
    color: #34555d;
    margin-left: 1rem;
}
nav a:hover {
    color: #487581;
    opacity: 100%;
}

.navbar-toggler-icon .fa-bars {
    color: #34555d; 
    font-size: 1.75rem;
}



/* Register AND Login Page */
#register form,
#login form {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 3rem auto 0;
    padding: 2.5rem 1.5rem;
    background-color: white;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#register form h1,
#login form h1 {
    text-align: center;
    margin: 1rem 0;
}

#register form input,
#login form input {
    width: 90%;
    height: 2rem;
    margin: 0 auto 0.75rem;
    padding-left: 0.75rem;
    border: none;
    border-radius: 1.25rem;
    background-color: lightgray;
}
#register form input:focus,
#login form input:focus {
    outline: none;
}

#register form button,
#login form button {
    margin: 1.5rem auto 1rem;
    width: 30%;
    border: none;
    border-radius: 1.25rem;
    padding: 5px 5px;
    background-color:#bfd6dd;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    box-shadow: 0 4px #afc5cc;
}
#register form button:hover,
#login form button:hover {
    box-shadow: 0 4px #afc5cc;
    top: 1px;
}

#register form button:active,
#login form button:active {
    box-shadow: none;
    top: 4px;
  }

.userLog-links {
    margin-top: 1.25rem;
    text-align: center;
}
.userLog-links a {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    #register form,
    #login form { 
        width: 60vw;
    }
}

@media only screen and (max-width: 475px) {
    #register form,
    #login form { 
        width: 80vw;
    }
}





/* Pets Homepage (pets/index) */
.pet-homepage h2 {
    text-align: center;
    margin-top: 1.5rem;
}

.newPost {
    margin: 0.75rem auto 3rem;
    padding: 1rem;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.newPost div {
    display: inline;
    width: 15%;
}

.newPost p {
    font-size: 100%;
    display: inline;
    padding-right: 0.75rem;
}

.newPost input {
    border: none;
    padding: 5px 10px;
    width: 80%;
}
.newPost input:focus {
    outline: none;
}

.pet-post {
    margin: 2rem auto;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post p {
    padding-left: 1.25rem;
    padding-top: 0.75rem;
    margin-bottom: 0;
}

.pet-post img {
    width: 100%;
    padding: 1.25rem;
}


@media only screen and (max-width: 800px) {
    .newPost,
    .pet-post {
        width: 60vw;
    }
}

@media only screen and (max-width: 500px) {
    .newPost,
    .pet-post {
        width: 80vw;
    }
}





/* New and Edit Page (Form) - Pet Post */
.pet-post-form {
    margin-top: 1.5rem
}

.pet-post-form form {
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin: 0 auto 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post-form h1 {
    font-size: 1.5rem;
}

.pet-post-form input {
    margin-bottom: 0.75rem;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    height: 2rem;
    padding-left: 0.75rem;
}
.pet-post-form input:focus {
    outline: none;
}

.pet-post-form textarea {
    margin: 10px 0;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 0.75rem;
}

.pet-post-form button {
    width: 20%;
    border: none;
    border-radius: 1.25rem;
    padding: 5px 5px;
    background-color: #24b4e9;
    color: white;
}

@media only screen and (max-width: 700px) {
    .pet-post-form form {
        width: 80vw;
    }
}

@media only screen and (max-width: 450px) {
    .pet-post-form button {
        width: 25%;
    }
}





/* Show Page - Pet Post */
.pet-post-show {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto 50px;
    padding: 1.5rem 1.5rem 0.75rem;
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post-show p.username{
    color: #24b4e9;
}

.pet-post-show h1 {
    font-size: 1.5rem;
}

.pet-post-show img {
    width: 90%;
    margin: 0 auto;
    border-radius: 2px;
}

.post-extras {
    display: flex;
    margin-top: 1.25rem;
}

.post-extras p,
.alter-post a {
    margin: 0 1.25rem 0 0;
    color: gray;
    text-decoration: none;
}

.alter-post button {
    background: none;
    border: none;
    color: gray;
}

#deleteModal form button {
    border: 1px solid #34555d;
    border-radius: 1.25rem;
    padding: 5px 10px;
    background-color: #34555d;
    color: white;
}

#modal-btn-close {
    border: 1px solid gray;
    border-radius: 1.25rem;
    padding: 5px 10px;
    background-color: white;
    color: #34555d;
}

.pet-post-comments-form,
.pet-post-comments {
    display: flex;
    flex-direction: column;
    margin: 1.25rem auto 1.25rem;
    padding: 1.25rem;
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post-comments-form h1,
.pet-post-comments h1 {
    font-size: 1.25rem;
}

.pet-post-comments-form textarea {
    margin: 0.75rem 0;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
}

.pet-post-comments-form button {
    border: none;
    border-radius: 1.25rem;
    padding: 5px 10px;
    background-color: #144c94;
    color: white;
}

.comment {
    background-color: white;
    margin-bottom: 1.25rem;
    padding: 10px;
    border-radius: 5px;
}

.comment form button {
    font-size: 13px;
    background: none;
    border: none;
    color: gray;
    float: right;
}


@media only screen and (max-width: 800px) {
    .pet-post-show,
    .pet-post-comments-form,
    .pet-post-comments {
        width: 60vw;
    }
}

@media only screen and (max-width: 600px) {
    .pet-post-show,
    .pet-post-comments-form,
    .pet-post-comments {
        width: 95vw;
    }
}





/* User Profile */
.user-profile {
    width: 80vw;
    margin: 0 auto;
    padding: 2rem 0;
}

.user-info {
    margin: 0 auto 1.5rem;
}

.user-info-names,
.user-info-activity {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.user-info-names p,
.user-info-activity p {
    font-size: 1.25rem;
    margin-right: 5%;
}

.user-edit {
    text-align: center;
}

.user-edit-btn {
    border: 1px solid #34555d;
    border-radius: 1.25rem;
    padding: 5px 10px;
    background-color: #34555d;
    color: white;
    text-decoration: none;
}
.user-edit-btn:hover {
    color: white;
}

.user-info .bio {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 1.2rem;
}

.users-posts h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.users-posts div {
    width: 60vw;
    margin: 0 auto 1.5rem;
    padding: 1.25rem;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.users-posts div img {
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .users-posts div {
        width: 85vw;
    }
}

@media only screen and (max-width: 450px) {
    .user-info-activity p {
        font-size: 1rem;
        margin-right: 4%;
    }
}





/* User Edit Form */
.user-edit-form {
    margin-top: 1.5rem;
}

.user-edit-form form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.user-edit-form h1 {
    font-size: 1.5rem;
}

.user-edit-form textarea {
    margin: 10px 0;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 10px;
}

.user-edit-form button {
    width: 20%;
    border: none;
    border-radius: 1.25rem;
    padding: 5px 5px;
    background-color: #24b4e9;
    color: white;
}


@media only screen and (max-width: 900px) {
    .user-edit-form form {
        width: 60vw;
    }

    .user-edit-form button {
        width: 25%;
    }
}

@media only screen and (max-width: 500px) {
    .user-edit-form form {
        width: 90vw;
    }

    .user-edit-form button {
        width: 25%;
    }
}