body {
    margin: 0;
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #bfd6dd;
}
nav a {
    color: #34555d;
}
nav a:hover {
    color: #487581;
    opacity: 100%;
}

nav li {
    list-style: none;
    display: inline;
    margin-left: 10px;
}

.navbar-toggler-icon .fa-bars {
    color: #34555d; 
    font-size: 28px;
}



/* Register AND Login Page */
#register form,
#login form {
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 50px auto 0;
    padding: 40px 25px;
    background-color: white;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#register form h1,
#login form h1 {
    text-align: center;
    margin: 15px 0;
}

#register form input,
#login form input {
    width: 90%;
    height: 35px;
    margin: 0 auto 10px;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
}
#register form input:focus,
#login form input:focus {
    outline: none;
}

#register form button,
#login form button {
    margin: 25px auto 15px;
    width: 25%;
    border: none;
    border-radius: 20px;
    padding: 5px 5px;
    background-color:#bfd6dd;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    box-shadow: 0 4px #afc5cc;
}
#register form button:hover,
#login form button:hover {
    box-shadow: 0 4px #afc5cc;
    top: 2px;
}

#register form button:active,
#login form button:active {
    box-shadow: none;
    top: 6px;
  }

.userLog-links {
    margin-top: 20px;
    text-align: center;
}
.userLog-links a {
    text-decoration: none;
}





/* Pets Homepage (pets/index) */
.pet-homepage h2 {
    text-align: center;
    margin-top: 25px;
}

.newPost {
    margin: 10px auto 50px;
    padding: 15px;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.newPost p {
    display: inline;
    padding-right: 10px;
}

.newPost input {
    border: none;
    padding: 5px 10px;
    width: 90%;
}

.pet-post {
    margin: 30px auto;
    width: 45vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post .username {
    font-weight: bold;
}

.pet-post p {
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}

.pet-post img {
    width: 100%;
    padding: 20px;
}





/* New and Edit Page (Form) - Pet Post */
.pet-post-form form {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 25px auto 25px;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post-form h1 {
    font-size: 25px;
}

.pet-post-form input {
    margin-bottom: 10px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
}
.pet-post-form input:focus {
    outline: none;
}

.pet-post-form textarea {
    margin: 10px 0;
    border: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 10px;
}

.pet-post-form button {
    width: 10%;
    border: none;
    border-radius: 20px;
    padding: 5px 5px;
    background-color: #24b4e9;
    color: white;
}





/* Show Page - Pet Post */
.pet-post-show {
    display: flex;
    flex-direction: column;
    margin: 25px auto 50px;
    padding: 25px;
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.pet-post-show p.username{
    color: #24b4e9;
}

.pet-post-show h1 {
    font-size: 1.5rem;
}

.pet-post-show img {
    width: 90%;
    margin: 0 auto;
    border-radius: 2px;
}

.alter-post {
    display: flex;
    margin-top: 10px;
}

.alter-post a {
    margin-right: 10px;
    color: gray;
    text-decoration: none;
}

.alter-post form button {
    background: none;
    border: none;
    color: gray;
}

