<%- include("../partials/header") %>

<h1>Create a new post</h1>
<form>
    <input type="text" placeholder="Write a caption...">
    <input type="text" placeholder="Enter picture URL">
    <button>Post</button>
</form>